{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		"react-hot-loader/babel",
		"@babel/plugin-transform-runtime",
		"transform-class-properties",
		"@babel/plugin-transform-classes"
	]
}
