@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Montserrat:400,700');

$theme_green: #1db954;
$theme_white: #fff;
$theme_black: #262626;
$theme_light_grey: #1a1a1a;
$theme_navy: #2b2f3d;

body {
	height: 100%;
	color: $theme_white;
	background-color: $theme_black;
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2 {
	font-family: 'Montserrat';
	letter-spacing: -1px;
	font-size: 60px;
	text-align: center;
}

h2 {
	font-size: 25px;
	margin-bottom: 15px;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
}

h6 {
	font-size: 15px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row {
	margin-bottom: 25px;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100vh;
	overflow-y: scroll;
	transform: translate(-50%, -50%);
	background: lighten($theme_black, 5%);
	// padding: 50px;
	border-radius: 4px;
	&::-webkit-scrollbar {
		width: 5px;
	}
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: lighten($theme_black, 5%);
	padding: 50px;
	width: 500px;
	height: 40vh;
	display: flex;
	align-items: center;
	border-radius: 4px;
	h1 {
		text-transform: uppercase;
		font-size: 32px;
		white-space: nowrap;
		letter-spacing: 1px;
		svg {
			font-size: 25px;
		}
	}
	.btn {
		width: 100%;
	}
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/* Home */
.logo-container {
	margin: 15px auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	.logo {
		width: 100px;
	}
}

/* Searchbar */
.ui.search {
	display: block;
	text-align: center;
	width: 100%;
	top: 43%;
	.ui.input {
		width: 50%;
		input {
			border-radius: 10px;
			padding: 15px !important;
		}
	}
	.results {
		.image {
			width: auto !important;
		}
		&.visible {
			display: block;
			position: relative !important;
			margin: 10px auto;
			width: 50%;
		}
		.category {
			.results {
				width: 100% !important;
			}
		}
	}
}

.btn {
	padding: 15px 30px;
	text-transform: uppercase !important;
	outline: none !important;
	border: 0;
	font-family: 'Montserrat';
	font-weight: 700;
	display: block;
	background: $theme_green;
	color: $theme_white;
	margin: 20px auto;
	&:focus,
	&:hover {
		background: darken($theme_green, 5%) !important;
		color: $theme_white !important;
	}
}

svg {
	margin: 0 5px;
	&.fa-chevron-down,
	&.fa-chevron-up {
		&:hover,
		&:focus {
			color: #fff;
		}
	}
}

.header {
	height: 400px;
	background-size: cover !important;
	background-position: center 25% !important;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	h1 {
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 15px;
	}
	p {
		span {
			margin: 0 15px;
			font-weight: 700;
			font-size: 15px;
			text-align: center;
			&:nth-child(1) {
				margin-left: 0;
			}
			&:nth-child(2) {
				color: $theme_green;
			}
		}
	}
	&.home {
		display: block;
		overflow: visible;
	}
	&.custom {
		background: lighten($theme_navy, 10%);
		div {
			outline: none;
		}
		h1 {
			&:focus {
				outline: none !important;
			}
		}
		p {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 10px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.field {
		display: inline-block;
		padding: 0 10px;
		margin: 0 !important;
		label {
			color: $theme_white !important;
		}
	}
}

.info-tooltip {
	font-size: 14px;
	margin-left: 5px;
	color: #fff !important;
}

.item-container {
	text-align: center;
	padding: 0;
	margin: 10px auto;
	.artist-dp {
		height: 150px;
		width: 150px;
		object-fit: cover;
		box-shadow: 0px 4px 15px rgba(34, 34, 34, 0.5);
		filter: brightness(90%) contrast(90%) grayscale(10%);
		&:hover {
			opacity: 0.8;
			filter: brightness(120%);
			cursor: pointer;
		}
		&.main {
			height: 100%;
			width: 100%;
		}
	}
	.album-dp {
		height: 150px;
		width: 150px;
		object-fit: cover;
		box-shadow: 0px 4px 15px rgba(34, 34, 34, 0.5);
		filter: brightness(90%) contrast(90%) grayscale(10%);
		&:hover {
			opacity: 0.8;
			// filter: brightness(40%);
			cursor: pointer;
		}
		&.main {
			height: 100%;
			width: 100%;
		}
	}
	h5 {
		margin: 10px auto 0px auto;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	h6 {
		margin-bottom: 20px;
	}
}

.album-container {
	width: 150px;
	margin: 0 auto;
}

.artist-list {
	margin-bottom: 50px;
	overflow: hidden;
}

.selected-row {
	margin: 0;
	display: flex;
	width: 100%;
	min-height: 45px;
	overflow-x: auto;
	list-style: none;
	&::-webkit-scrollbar {
		height: 5px !important;
	}
	.selected-container {
		.artist-dp {
			height: 80px;
			width: 80px;
			object-fit: cover;
			&:hover {
				opacity: 0.8;
				filter: brightness(120%);
				cursor: pointer;
			}
		}
	}
}

.ReactTable {
	border: 0;
	margin-bottom: 15px;
	* {
		border: 0 !important;
		outline: none;
		font-size: 15px;
		box-shadow: none !important;
	}
	.rt-thead {
		border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
	}
	.rt-th {
		box-shadow: none !important;
		text-align: left;
		font-weight: 700;
		padding: 15px 0 !important;
		color: lighten($theme_navy, 60%);
	}
	.rt-tr-group {
		border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
		.rt-td {
			display: flex;
			align-items: center;
		}
	}
	.rt-td {
		&:last-child {
			justify-content: center;
		}
	}
}

.actions {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -100%);
	svg {
		font-size: 50px;
		transition: 0.3s;
		opacity: 0.9;
		&:hover {
			cursor: pointer;
		}
	}
}

.notification-bar {
	z-index: 1;
}

input[type='file'] {
	display: none;
}

.fade {
	text-align: center;
}

.fade-appear {
	opacity: 0;
	z-index: 1;
}
.fade-appear-active {
	opacity: 1;
	transition: opacity 1000ms linear;
}
.fade-exit {
	opacity: 1;
	// transform: scale(1) translateY(0%);
}
.fade-exit.fade-exit-active {
	opacity: 0.01;
	transform: scale(0.9) translateY(50%);
	transition: all 300ms ease-out;
}

.fade-exit-done {
	opacity: 0;
}

.fade-entering {
	animation: fadeOut 5000ms linear;
}

.fade-entered {
	opacity: 1;
	animation: fadeIn 5000ms linear;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
