$bar_height: 40px;

.audio-player {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: $bar_height;
	margin: 0;
	bottom: 0;
	padding: 5px;
	background: #000;
	svg {
		font-size: 12px;
	}
	p {
		font-size: 12px !important;
		&.title {
			margin-right: 40px;
		}
		&.time {
			position: absolute;
			right: 0;
		}
		margin: 0;
		font-size: 11px;
		line-height: normal;
		white-space: nowrap;
	}
	.controls {
		margin-right: 20px;
		width: auto;
	}
	.audio-bar {
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0 15px;
		padding: 0;
	}
	.track-container {
		position: fixed;
		bottom: $bar_height;
		left: 0 !important;
		width: 100%;
		background: #333;
		.track {
			border-radius: 0;
			height: 4px;
			border: 0;
			margin: 0;
		}
	}
	.track {
		position: relative;
		width: 100%;
		height: 8px;
		display: flex;
		border: 1px solid #fff;
		opacity: 0.8;
		overflow: hidden;
		.toggle {
			transition: width 1000ms linear;
			position: absolute;
			height: 7px;
			background: #fff;
		}
		&:hover {
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 989px) {
	.player-container {
		position: relative;
		.track-container {
			position: fixed;
			bottom: $bar_height;
			left: 0 !important;
			width: 100%;
			background: transparent;
			.track {
				padding: 0 !important;
				border-radius: 0;
				height: 4px;
				border: 0;
				margin: 0;
			}
		}
		.audio-player {
			display: flex;
			align-items: center;
			svg,
			.title {
				font-size: 12px;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 80vw;
			}
			.controls {
				margin: 0;
			}
			.time {
				display: none;
			}
		}
	}
}
