/* Searchbar */
.ui.search {
	display: block;
	text-align: center;
	width: 100%;
	top: 43%;
	.ui.input {
		width: 50%;
		input {
			border-radius: 10px;
			padding: 15px !important;
		}
	}
	.results {
		z-index: 999999;
		.image {
			width: auto !important;
		}
		&.visible {
			display: block;
			position: relative !important;
			margin: 10px auto;
			width: 50%;
		}
		.content {
			.description {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
			}
		}
		.category {
			display: table !important;
			.results {
				width: 100% !important;
			}
		}
	}
}

@media screen and (max-width: 989px) {
	.ui.input {
		width: 80% !important;
	}
	.results {
		.result {
			font-size: 0.9em !important;
			width: 100% !important;
		}
		.content {
			margin: 0 !important;
			max-width: 50vw;
		}
		.image {
			object-fit: cover;
			height: 40px;
			width: 40px;
		}
		&.visible {
			display: block;
			position: relative !important;
			margin: 10px auto;
			width: 80% !important;
		}
		.category {
			background: transparent;
			.results {
				width: 100% !important;
			}
		}
	}
}
