@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$theme_green: #1db954;
$theme_white: #fff;
$theme_black: #1a1a1a;
$theme_navy: #2b2f3d;

html {
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: 0;
	}
}

body {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	overscroll-behavior-y: none;
}

.desktop {
	display: block !important;
}

.mobile {
	display: none !important;
}

body {
	height: 100%;
	color: $theme_white;
	background-color: $theme_black;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: inherit;
	letter-spacing: -0.1rem;
}

h2 {
	font-size: 2em;
}

h3 {
	height: 50vh;
	letter-spacing: 0px;
	font-family: 'Open Sans';
	opacity: 0.3;
	text-transform: lowercase;
}

a {
	color: #fff;
	&:focus,
	&:hover {
		color: #eee;
		cursor: pointer;
	}
}

.row {
	margin-bottom: 25px;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	&.full {
		height: 100vh;
	}
}

.flex {
	display: flex;
	align-items: center;
	&.-row {
		display: flex;
		align-items: center;
		flex-direction: row;
		.btn {
			margin: 20px 5px;
		}
	}
}

.pull-center {
	display: block;
	text-align: center;
}

svg {
	margin: 0 5px;
}

.info-tooltip {
	font-size: 14px;
	margin-left: 5px;
	color: #fff !important;
}

#home-grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 15px;
	margin-top: 20px;
	#new-releases {
		grid-column-start: 1 !important;
		border-right: 1px solid lighten($theme_black, 5%) !important;
		padding-right: 15px;
	}
	.heading {
		margin-bottom: 15px;
		h2 {
			margin-top: 10px;
			font-size: 1.5em;
			padding: 0 10px;
			margin: 0;
		}
		p {
			font-size: 10px;
			padding: 0 10px;
			opacity: 0.5;
		}
	}
}

.card {
	background: lighten($theme_black, 2%);
	.card-actions {
		svg {
			&.fa-heart {
				color: lighten($theme_black, 15%);
				&:hover {
					color: lighten($theme_black, 30%);
				}
			}
		}
	}
}

.selected-row {
	margin: -15px -15px 15px -15px;
	display: flex;
	width: 100%;
	// min-height: 45px;
	overflow-x: auto;
	list-style: none;
	&::-webkit-scrollbar {
		height: 5px !important;
	}
	.selected-container {
		.artist-dp {
			height: 80px;
			width: 80px;
			object-fit: cover;
			&:hover {
				opacity: 0.8;
				filter: brightness(120%);
				cursor: pointer;
			}
		}
	}
}

.notification-bar {
	background: $theme_green !important;
	overflow: hidden;
	max-width: 90vw;
	&.notification-bar-active {
		z-index: 1;
		.notification-bar-wrapper {
			display: grid;
			grid-template-columns: auto auto;
			grid-column-gap: 10px;
			padding-right: 10px;
			.notification-bar-title {
				max-width: 90vw;
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: pre-wrap;
				font-size: 18px;
			}
			.notification-bar-message {
				text-align: left;
			}
		}
	}
}

input[type='file'] {
	display: none;
}

@media screen and (max-width: 989px) {
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}

	.flex-row {
		.btn {
			padding: 15px !important;
		}
	}

	.notification-bar-active {
		position: absolute;
		left: 50% !important;
		transform: translate(-50%, 0) !important;
		background: $theme_green !important;
		text-align: center;
		.notification-bar-message {
			white-space: nowrap;
		}
	}

	#home-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		#new-releases {
			border: 0 !important;
			padding: 0;
			p.see-more {
				margin-top: 10px;
				padding: 0 10px;
				opacity: 0.5;
				text-align: right;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.heading {
			margin-bottom: 15px;
			h2 {
				font-size: 1.5em;
				padding: 0 20px;
				margin: 0;
			}
			p {
				font-size: 10px;
				padding: 0 20px;
				opacity: 0.5;
			}
		}
	}
}

@import 'login.scss';
@import 'player.scss';
@import 'searchbar.scss';
@import 'modal.scss';
@import 'animations.scss';
@import 'table.scss';
