@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Montserrat:400,700|Nunito:400,700|Open+Sans:400,700');

$theme_green: #1db954;
$theme_white: #fff;
$theme_black: #1a1a1a;
$theme_navy: #2b2f3d;

body {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.desktop {
	display: block !important;
}
.mobile {
	display: none !important;
}

body {
	height: 100%;
	color: $theme_white;
	background-color: $theme_black;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Montserrat';
	letter-spacing: -0.1rem;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 2em;
	text-transform: capitalize;
	text-align: center;
}

h3 {
	height: 50vh;
	letter-spacing: 0px;
	font-family: 'Open Sans';
	opacity: 0.3;
	text-transform: lowercase;
}

h6 {
	font-size: 15px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: #fff;
	&:focus,
	&:hover {
		color: #eee;
		cursor: pointer;
	}
}

.row {
	margin-bottom: 25px;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 0;
	height: 100vh;
	overflow-y: scroll;
	transform: translate(-50%, -50%);
	background: lighten($theme_black, 5%);
	padding-bottom: 35px;
	border-radius: 4px;
	&::-webkit-scrollbar {
		width: 0px;
	}
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
	&.full {
		height: 100vh;
	}
}

.pull-center {
	display: block;
	text-align: center;
}

.flex-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	.btn {
		margin: 20px 10px;
	}
}

.btn {
	display: block;
	background: $theme_green;
	color: $theme_white;
	padding: 15px 30px;
	margin: 20px auto;
	font-weight: 700;
	text-transform: uppercase !important;
	outline: none !important;
	border: 0;
	&:focus,
	&:hover {
		background: darken($theme_green, 5%) !important;
		color: $theme_white !important;
	}
}

svg {
	margin: 0 5px;
}

.header {
	height: 400px;
	background-size: cover !important;
	background-position: center 25% !important;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	h1 {
		text-align: center;
		margin-bottom: 0px;
	}
	.subtext {
		margin-bottom: 5px;
		font-size: 1em;
		letter-spacing: 0.1em;
		max-width: 80vw;
	}
	&.home {
		display: block;
		overflow: visible;
	}
	&.custom {
		background: lighten($theme_navy, 10%);
		div {
			outline: none;
		}
		h1 {
			&:focus {
				outline: none !important;
			}
		}
		p {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 10px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.field {
		display: inline-block;
		padding: 0 10px;
		margin: 0 !important;
		label {
			color: $theme_white !important;
		}
	}
}

.info-tooltip {
	font-size: 14px;
	margin-left: 5px;
	color: #fff !important;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	&.-column {
		grid-template-columns: 1fr;
	}
}

.item-container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
	padding-right: 10px;
	align-items: center;
	background: $theme_black;
	border-radius: 10px;
	margin: 10px;
	overflow: hidden;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center 15% !important;
	&:hover {
		cursor: pointer;
	}
	&.-lg {
		padding: 3rem;
		h5 {
			font-size: 2em;
		}
	}
	.card-detail {
		overflow: hidden;
		h5 {
			text-overflow: ellipsis;
			overflow: hidden;
			margin-bottom: 0;
			font-family: 'Open Sans';
			white-space: nowrap;
		}
		h6 {
			font-size: 0.9em;
			opacity: 0.7;
			margin: 10px 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
		}
	}
	.display-pic {
		height: 80px;
		width: 80px;
		object-fit: cover;
		border-radius: 5px;
		filter: brightness(90%) contrast(90%) grayscale(10%);
		&:hover {
			opacity: 0.8;
			filter: brightness(120%);
			cursor: pointer !important;
		}
	}
}

.selected-row {
	margin: 0;
	display: flex;
	width: 100%;
	min-height: 45px;
	overflow-x: auto;
	list-style: none;
	&::-webkit-scrollbar {
		height: 5px !important;
	}
	.selected-container {
		.artist-dp {
			height: 80px;
			width: 80px;
			object-fit: cover;
			&:hover {
				opacity: 0.8;
				filter: brightness(120%);
				cursor: pointer;
			}
		}
	}
	&:empty {
		display: none;
	}
}

.ReactTable {
	border: 0;
	margin-bottom: 15px;
	font-size: 1rem;
	* {
		box-shadow: none !important;
		outline: none;
	}
	.rt-thead {
		border-bottom: 1px solid rgba(255, 255, 255, 0.03) !important;
		margin: 0 10px 5px 10px;
		padding: 0 15px;
	}
	.rt-th {
		text-align: left;
		font-weight: 700;
		padding: 15px 0 !important;
	}
	.rt-tr-group {
		background: #222 !important;
		margin: 5px 10px;
		border-radius: 5px;
		border: none !important;
		padding: 10px 15px;
		&:hover {
			background: darken($theme_black, 1%) !important;
		}
		.rt-td {
			display: flex;
			align-items: center;
			white-space: unset;
			&:last-child {
				justify-content: center;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	.table-action {
		&:hover {
			cursor: pointer;
		}
	}
}

.actions {
	position: absolute;
	top: 49%;
	left: 50%;
	transform: translate(-50%, -100%);
	svg {
		font-size: 50px;
		transition: 5s;
		opacity: 0.8;
		&:hover {
			cursor: pointer;
		}
	}
}

.notification-bar {
	z-index: 1;
}

input[type='file'] {
	display: none;
}

@media screen and (min-width: 990px) {
	.container {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 989px) {
	.container {
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
	.list {
		margin-bottom: 30px;
	}
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
	.header {
		h1 {
			font-size: 35px !important;
		}
		button {
			font-size: 11px;
			padding: 15px;
		}
		p {
			right: 20px !important;
		}
	}

	.info-tooltip {
		display: none !important;
	}
	.notification-bar-active {
		position: absolute !important;
		left: 50% !important;
		transform: translate(-50%, 0) !important;
		background: $theme_green !important;
		text-align: center;
		.notification-bar-message {
			display: block;
		}
	}

	.container {
		width: 100vw !important;
		overflow-x: hidden;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		h6 {
			display: block !important;
			white-space: nowrap;
			width: 150px;
			margin: 0 auto;
			text-overflow: ellipsis !important;
			overflow: hidden;
		}
	}
	.list {
		grid-template-columns: 1fr;
		padding: 0 20px;
		.card-detail {
			h5 {
				font-size: 1rem !important;
			}
		}
	}
	.ui.input {
		width: 80% !important;
	}
	.results {
		.image {
			width: auto !important;
		}
		&.visible {
			display: block;
			position: relative !important;
			margin: 10px auto;
			width: 80% !important;
		}
		.category {
			.results {
				width: 100% !important;
			}
		}
	}
	.artist-list {
		.item-container {
			padding: 10px;
			&:nth-child(odd) {
				padding-left: 30px;
			}
			&:nth-child(even) {
				padding-right: 30px;
			}
			&::-webkit-scrollbar {
				width: 0px;
			}
		}
		-webkit-overflow-scrolling: touch;
	}
	.item-container {
		h5 {
			font-size: 1rem;
		}
		h6 {
			font-size: 1rem;
			opacity: 0.7;
			margin: 5px 0;
		}
		.actions {
			transform: translate(-50%, -100%) !important;
			svg {
				font-size: 50px;
			}
		}
	}
	.playlist-header {
		margin-bottom: 0;
	}
	.track {
		background: #222;
		border-radius: 5px;
		display: flex !important;
		align-items: center;
		margin: 10px;
		.item-container {
			background: transparent;
			grid-gap: 15px;
			padding: 0;
			margin: 0;
		}
		strong {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		p {
			font-size: 0.9rem;
			color: #ddd;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		svg {
			font-size: 1.2rem;
		}
	}
	.playlist-list {
		.item-container {
			margin: 15px 0;
		}
	}
}

@media screen and (min-width: 990px) and (max-width: 1455px) {
	.modal-md {
		min-width: 80vw;
	}
}

@import 'login.scss';
@import 'player.scss';
@import 'searchbar.scss';
@import 'modal.scss';
@import 'animations.scss';
