@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Montserrat:400,700|Nunito:400,700');

$theme_green: #1db954;
$theme_white: #fff;
$theme_black: #1a1a1a;
$theme_navy: #2b2f3d;

.desktop {
	display: block !important;
}
.mobile {
	display: none !important;
}

body {
	height: 100%;
	color: $theme_white;
	background-color: $theme_black;
	font-family: 'Nunito', sans-serif;
}

h1,
h2 {
	font-family: 'Montserrat';
	letter-spacing: -1px;
	font-size: 60px;
	text-align: center;
}

h2 {
	font-size: 25px;
	margin-bottom: 15px;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
}

h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	font-size: 25px;
	letter-spacing: -1px;
	opacity: 0.3;
	font-family: 'Montserrat';
	text-transform: lowercase;
}

h6 {
	font-size: 15px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: #fff;
	&:focus,
	&:hover {
		color: #eee;
		cursor: pointer;
	}
}

.row {
	margin-bottom: 25px;
}

.container {
	position: fixed;
	top: 50%;
	left: 50%;
	bottom: 0;
	height: 100vh;
	overflow-y: scroll;
	transform: translate(-50%, -50%);
	background: lighten($theme_black, 5%);
	// padding: 50px;
	border-radius: 4px;
	&::-webkit-scrollbar {
		width: 0px;
	}
}

.login-page {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./wallpaper2.jpeg');
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	background-position: center !important;
	background-blend-mode: darken;
	transition: background 300ms ease-in 200ms;
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	height: 40vh;
	display: flex;
	align-items: center;
	border-radius: 4px;
	h1 {
		text-transform: uppercase;
		font-size: 50px;
		white-space: nowrap;
		letter-spacing: 1px;
		svg {
			font-size: 45px;
		}
	}
	h5 {
		font-size: 18px !important;
		text-transform: uppercase;
		letter-spacing: 8px;
		margin-top: 0;
		text-align: center;
		opacity: 0.8;
	}
	.btn {
		width: 100%;
		font-size: 18px;
		&:hover {
			cursor: pointer;
		}
	}
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.pull-center {
	display: block;
	text-align: center;
}

.flex-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	.btn {
		margin: 20px 10px;
	}
}

/* Home */
.logo-container {
	margin: 15px auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	.logo {
		width: 100px;
	}
}

/* Searchbar */
.ui.search {
	display: block;
	text-align: center;
	width: 100%;
	top: 43%;
	.ui.input {
		width: 50%;
		input {
			border-radius: 10px;
			padding: 15px !important;
		}
	}
	.results {
		.image {
			width: auto !important;
		}
		&.visible {
			display: block;
			position: relative !important;
			margin: 10px auto;
			width: 50%;
		}
		.category {
			.results {
				width: 100% !important;
			}
		}
	}
}

.btn {
	padding: 15px 30px;
	text-transform: uppercase !important;
	outline: none !important;
	border: 0;
	font-family: 'Montserrat';
	font-weight: 700;
	display: block;
	background: $theme_green;
	color: $theme_white;
	margin: 20px auto;
	&:focus,
	&:hover {
		background: darken($theme_green, 5%) !important;
		color: $theme_white !important;
	}
	&.fixed {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

svg {
	margin: 0 5px;
	&.fa-chevron-down,
	&.fa-chevron-up {
		&:hover,
		&:focus {
			color: #fff;
		}
	}
}

.header {
	height: 400px;
	background-size: cover !important;
	background-position: center 25% !important;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	h1 {
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 0px;
	}
	.subtext {
		margin-bottom: 5px;
		font-size: 13px;
		text-align: center;
		letter-spacing: 2px;
	}
	&.home {
		display: block;
		overflow: visible;
	}
	&.custom {
		background: lighten($theme_navy, 10%);
		div {
			outline: none;
		}
		h1 {
			&:focus {
				outline: none !important;
			}
		}
		p {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 10px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.field {
		display: inline-block;
		padding: 0 10px;
		margin: 0 !important;
		label {
			color: $theme_white !important;
		}
	}
}

.info-tooltip {
	font-size: 14px;
	margin-left: 5px;
	color: #fff !important;
}

.item-container {
	text-align: center;
	padding: 0;
	margin: 10px auto;
	.playlist-dp,
	.artist-dp,
	.album-dp {
		height: 160px;
		width: 160px;
		object-fit: cover;
		border-radius: 5px;
		&:hover {
			opacity: 0.8;
			cursor: pointer !important;
		}
		&.main {
			height: 100%;
			width: 100%;
		}
	}
	.artist-dp {
		filter: brightness(90%) contrast(90%) grayscale(10%);
		&:hover {
			filter: brightness(120%);
		}
		&.main {
			height: 100%;
			width: 100%;
		}
	}
	.album-dp {
		filter: brightness(90%) contrast(90%) grayscale(10%);
		// box-shadow: 0 0px 1px rgba(255, 255, 255, 0.2);
	}
	h5 {
		margin: 10px auto 0px auto;
		text-overflow: ellipsis;
		overflow: hidden;
		font-weight: 700;
		font-family: 'Nunito';
		white-space: nowrap;
	}
	h6 {
		font-size: 12px;
		opacity: 0.7;
		width: 160px;
		margin: 10px auto;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;
	}
}

.album-container {
	width: 160px;
	margin: 0 auto;
}

.artist-list {
	margin-bottom: 30px;
	overflow: hidden;
}

.selected-row {
	margin: 0;
	display: flex;
	width: 100%;
	min-height: 45px;
	overflow-x: auto;
	list-style: none;
	&::-webkit-scrollbar {
		height: 5px !important;
	}
	.selected-container {
		.artist-dp {
			height: 80px;
			width: 80px;
			object-fit: cover;
			&:hover {
				opacity: 0.8;
				filter: brightness(120%);
				cursor: pointer;
			}
		}
	}
	&:empty {
		display: none;
	}
}

.ReactTable {
	border: 0;
	margin-bottom: 15px;
	* {
		border: 0 !important;
		outline: none;
		font-size: 15px;
		box-shadow: none !important;
	}
	.rt-thead {
		border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
	}
	.rt-th {
		box-shadow: none !important;
		text-align: left;
		font-weight: 700;
		padding: 15px 0 !important;
	}
	.rt-tr-group {
		background: transparent !important;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
		.rt-td {
			display: flex;
			align-items: center;
		}
	}
	.rt-td {
		&:last-child {
			justify-content: center;
		}
	}
}

.actions {
	position: absolute;
	top: 49%;
	left: 50%;
	transform: translate(-50%, -100%);
	svg {
		font-size: 50px;
		transition: 5s;
		opacity: 0.8;
		&:hover {
			cursor: pointer;
		}
	}
}

// MODAL
#savePlaylistModal {
	div {
		outline: none;
	}
	.view-modal ~ div {
		background-color: #222 !important;
	}
	.view-modal > div {
		background: transparent !important;
	}
}
.view-modal {
	width: auto !important;
	-webkit-overflow-scrolling: touch;
}
.modal-md {
	background: $theme_black;
	outline: none !important;
	padding: 40px 40px 20px 40px;
	height: 80vh;
	overflow-y: scroll;
	.modal-header {
		border: 0;
		h2 {
			white-space: nowrap;
		}
	}
	.modal-body {
		background: $theme_black !important;
		padding: 0;
		.modal-actions {
			display: flex;
			align-items: center;
			flex-direction: row;
			button {
				margin: 5px;
				width: 100%;
			}
		}
	}
	.modal-footer {
		border: 0;
	}
}

.notification-bar {
	z-index: 1;
}

input[type='file'] {
	display: none;
}

.line-scale-pulse-out-rapid > div {
	height: 55px !important;
	width: 8px !important;
}

.fade {
	text-align: center;
}

.fade-appear {
	opacity: 0;
	z-index: 1;
}
.fade-appear-active {
	opacity: 1;
	transition: opacity 1000ms linear;
}
.fade-exit {
	opacity: 1;
	// transform: scale(1) translateY(0%);
}
.fade-exit.fade-exit-active {
	opacity: 0.01;
	transform: scale(0.9) translateY(50%);
	transition: all 300ms ease-out;
}

.fade-exit-done {
	opacity: 0;
}

.fade-entering {
	animation: fadeOut 5000ms linear;
}

.fade-entered {
	opacity: 1;
	animation: fadeIn 5000ms linear;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 989px) {
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
	.header {
		h1 {
			font-size: 35px !important;
		}
		button {
			font-size: 11px;
			padding: 15px;
		}
		p {
			right: 20px !important;
		}
	}
	.login-container {
		position: relative !important;
		left: 0 !important;
		width: 100%;
		height: 100vh;
		background: transparent !important;
		transform: none;
		justify-content: center;
		h1 {
			font-size: 25px;
			margin-top: 5px !important;
			svg {
				font-size: 30px;
			}
		}
		h5 {
			font-size: 11px !important;
			letter-spacing: 5px;
		}
	}
	.info-tooltip {
		display: none !important;
	}
	.notification-bar {
		// display: none;
	}
	.container {
		-webkit-overflow-scrolling: touch;
		width: 100vw !important;
		overflow-x: hidden;
		background: transparent !important;
		padding: 0;
		h6 {
			display: block !important;
			white-space: nowrap;
			width: 150px;
			margin: 0 auto;
			text-overflow: ellipsis !important;
			overflow: hidden;
		}
	}
	.ui.input {
		width: 80% !important;
	}
	.results {
		.image {
			width: auto !important;
		}
		&.visible {
			display: block;
			position: relative !important;
			margin: 10px auto;
			width: 80% !important;
		}
		.category {
			.results {
				width: 100% !important;
			}
		}
	}
	.artist-list {
		.item-container {
			padding: 10px;
			&:nth-child(odd) {
				padding-left: 30px;
			}
			&:nth-child(even) {
				padding-right: 30px;
			}
			&::-webkit-scrollbar {
				width: 0px;
			}
		}
		-webkit-overflow-scrolling: touch;
	}
	.album-list {
		display: flex;
		overflow-x: scroll;
		.item-container {
			margin: 15px;
			text-align: left;
		}
		&::-webkit-scrollbar {
			height: 0px;
		}
		-webkit-overflow-scrolling: touch;
	}
	.item-container {
		.artist-dp,
		.album-dp {
			height: 160px !important;
			width: 100%;
		}
		.artist-dp {
			object-fit: cover !important;
		}
		h5 {
			font-size: 1rem;
		}
		h6 {
			font-size: 1rem;
			opacity: 0.7;
			margin: 5px 0;
		}
		.actions {
			transform: translate(-50%, -100%) !important;
			svg {
				font-size: 50px;
			}
		}
	}
	.playlist-header {
		margin-bottom: 0;
	}
	.track-list {
		display: flex !important;
		align-items: center;
		padding: 15px;
		width: 95%;
		margin: 0px auto;
		border-bottom: 1px solid #444;
		p {
			font-size: 0.9rem;
			color: #ddd;
		}
		svg {
			font-size: 1.2rem;
		}
	}
	.playlist-list {
		.item-container {
			margin: 15px 0;
		}
	}
}

@media screen and (min-width: 990px) and (max-width: 1455px) {
	.modal-md {
		min-width: 80vw;
	}
}
